@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
  font-size: 62.5%;
  background: hsl(0, 0%, 98%);
  color: hsl(229, 6%, 66%);
}

h1{
  font-weight: 200;
}

h1, h2{
  font-size: 1.6rem;
}

h1, h2, h3{
  color: hsl(234, 12%, 34%);
}

h3{
  font-size: 1rem;
}

header{
  text-align: center;
  width: 400px;
  margin: 40px auto;
  font-size: 0.7rem;
}

header > p{
  margin: 10px auto;
}

.card{
  width: 300px;
  height: 200px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.30);
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.30);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.30);
}

.card-container{
  display: flex;
  flex-wrap: wrap;
  grid-gap: 20px;
  align-items: center;
  justify-content: space-around;
  max-width: 1000px;
  margin: 0 auto;
}

.col-container{
  display: flex;
  flex-direction: column;
  grid-gap: 20px;

}

.orange{
  border-top: 3px solid orange;
}

.cyan{
  border-top: 3px solid cyan;
}

.red{
  border-top: 3px solid red;
}

.blue{
  border-top: 3px solid blue;
}
